#des/* linguist-vendored
scriptapi/jquery-ui-1.11.4.custom/* linguist-vendored
*.class linguist-detectable=true
*.form linguist-detectable=true
*.class	linguist-language=REALbasic
*.form	linguist-language=REALbasic

